<html>
  <head>
    <title>Messaging App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="messenger" ng-controller="MainCtrl">
    <div>
      <!-- {{}} Angularjs variable notation
              this is angularjs two way data biding -->
      {{test}}

    </div>
    <div ng-repeat="post in posts">
      {{post}}
    </div>
    <!-- <div ng-repeat="post in posts2 | orderBy: '-upvotes'">
      {{post.title}} - upvotes: {{post.upvotes}}
    </div> -->
    <div ng-repeat="post in posts2 | orderBy: '-upvotes'">
      <span ng-click="incrementUpvotes(post)">^</span>
      {{post.title}} - upvotes: {{post.upvotes}}
    </div>
    <!-- <div>
      allow invocation of functions in app.js
      <button ng-click="addPost()">Post</button>
    </div> -->
    <form ng-submit="addPost()">
      <input type="text" ng-model="title"></input>
      <button type="submit">Post</button>
    </form>
  </body>
</html>
